.App {
  text-align: center;
}

.App-logo {
  transition: all 200ms ease-in-out;
  cursor: pointer;
  height: 40vmin;
  margin-bottom: 30px;
}

.App-logo:hover {
  transform: scale(1.2);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-header input[type="file"] {
  display: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
